<h2>マイページ</h2>

<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100, 100) %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(current_user) %>
  <% end %>

  <%= link_to "退会", root_path, method: :delete, data: { confirm: '本当に退会しますか？' } %>
</div>

<h2><%= @user.name %>の投稿</h2>
<% @posts.each do |post| %>
  <div>
    <%= image_tag post.user.get_profile_image(30, 30) %>
    <%= post.user.name %>
    <%= link_to post_path(post.id) do %>
      <p><%= post.title %></p>
    <% end %>
    <p><%= post.body %></p>
  </div>
<% end %>