<h1>ユーザー詳細画面</h1>

<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100, 100) %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %>
  <% end %>
</div>

<% if @user == current_user %>
  <%= link_to "退会", root_path, method: :delete, data: { confirm: '本当に退会しますか？' }%>
<% end %>


<h2><%= @user.name %>の投稿一覧</h2>

<% @post.each do |post| %>
  <div>
    <p>タイトル：<%= post.title %></p>
    <p>本文：<%= post.body %></p>
    <p>ユーザーネーム：<%= post.user.name %></p>
  </div>
<% end %>