<div>
  <p><%= @post.user.name %></p>
  <%= link_to user_path(@post.user) do %>
    <p><%= image_tag @post.user.get_profile_image(100, 100) %></p>
  <% end %>
  <p><%= @post.title %></p>
  <p><%= @post.body %></p>
  <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>
</div>